@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /* border: 2px solid #000000; */
    /* overflow: hidden; */

}

/* navbar */

.logo{height: 70px;}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 85px;
    padding: 10px 50px 10px 50px;
    /* position: fixed; */
    /* top: 0; */
    background-color:none;
}

.nav-link{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    

    list-style: none;
}

.nav-link a{
    text-decoration: none;
    font-size: 17px;
    color: black;
    font-weight: 500;
}

.active{
    border-bottom: 4px solid rgb(10, 10, 10);
    padding-bottom: 10px;
    
    
}

.down-btn{
    padding: 14px;
    width: 180px;
    border: none;
    border-radius: 25px 25px 5px 25px;
    background-color: black;
    color: #fff;
    font-size: 17px;
    font-weight: 900;
}

/* container1 */

.container{
   
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
/* position: absolute; 
 top: 0;  */
}

.text-sec{

    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
 
}

.text-sec h1{
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-right: 90px;
}
.text-sec p{
    font-size: 23px;
    color: rgb(86, 86, 86);
    margin-bottom: 70px;
    
    
    
}

.btn-primary{
    height: 55px;
    padding: 5px;
    width: 210px;
    border: none;
    background-color: #F9C935;
    font-weight: 900;
    border-radius: 25px 25px 25px 5px;
    font-size: 16px;
    margin-right:20px ;
  
}
.btn-secondary{
    height: 55px;
    padding: 5px;
    width: 210px;
    border: none;
    background-color: #000000;
    color: aliceblue;
    font-weight: 900;
    border-radius: 25px 25px 5px 25px;
    font-size: 16px;
    margin-right:20px ;
}
.image-sec{
    height: 100%;
    width: 50%;

    position: relative;

}
.round-image{
    background-color: #F9C935;
    height: 90%;
    width: 160%;
    transform: rotate(130deg) translateX(-15%) translateY(66%);
    border-radius: 507.5px;
    position: absolute;
    top: 180px;
    left: 150px;
    z-index: -1;
    overflow: hidden;
   

}
.round-image::after{
    content: url(./images/bike.webp);
    position: absolute;
    transform: rotate(-130deg) translateX(5%) translateY(25%) scale(0.70);
    z-index: -1;
}

.second-div{
    height: 100vh;
    width: 100%;
    background-color: #F9C935;
}

/* container2 */

.container2{
    /* background-color: aqua;s */
    height: 100vh;
    width: 100%;
    display: flex;
}

.image-section2{ background-color: #FCF7DE;
    height: 85%;
    width: 70%;
border-radius: 290px;
transform:rotate(160deg) translateX(17%);
display: flex;
align-items: center;
}

.text-part2{height: 90vh;
width: 50%;
/* border: 1px solid black; */
transform: translateX(-10%);
/* background-color: antiquewhite; */
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
text-align: left;
}
.text-part2 h1{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bolder;
    /* text-decoration-line: underline;
    text-decoration-color:#F9C935 ;
    text-decoration-style: wavy;
    text-underline-offset:15px ; */
    
}

.text-part2 p{
    font-size: 25px;
    color: gray;
    font-weight: 200;
    margin-bottom: 40px;
}
.text-part2 button{
    height: 70px;
    padding: 5px;
    width: 250px;
    border: none;
    background-color: #F9C935;
    font-weight: 900;
    border-radius: 25px 30px 25px 5px;
    font-size: 19px;
    margin-top: 20px;
  
}

.rapido1{
    height: 120%;
    /* background-color: palevioletred; */
    transform: rotate(-160deg)translateX(-64%)translateY(100px);
    width: 35%;
    display: flex;
    flex-direction: column;
   
}
.who1{
    height: 43%;
    width: 70%;
    border-radius: 100px 100px 0px 100px;
    transform: translateY(-20%) ;
    /* border:2px solid yellow */

}
.y_p{
    height: 35%;
    width: 80%;
    transform: translateX(5%);
}
.b1{
    height: 50%;
    background-color: #F9C935;
    width: 18.2%;
    
border-radius: 100px 0px 100px 100px ;
border: none;
margin-left: 120px;
margin-top: 5px;
}

.rapido2{
    height:80%;
    /* background-color: palegreen; */
    transform: rotate(-160deg)translateX(103%)translateY(220px);
    width: 40%;
    display: flex;
    flex-direction: column;

}
.b2{
    height:11%;
    background-color: white;
    width: 40%;
border-radius: 35px 35px 35px 0px ;
border: none;

transform: translatey(-140%)translateX(-1%);
}
.who2{
    height:80%;
    width:85%;
    border-radius: 0px 100px 100px 100px;
    /* transform: translateX(15%)translateY(15%); */
    

}


/* container3 */

.container3{
    height: 150vh;
    width: 100%;
    /* border: 2px solid black; */
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.image-section3{
    height: 90vh;
    width: 80%;
    /* border: 2px solid black; */
    background-color: #FBF7DD;
    border-radius: 500px 500px 500px 500px;
    transform: rotate(-10deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.our-impact{
    /* border: 2px solid palevioletred; */
    transform: rotate(10deg);
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.impact1 h1{
    font-size: 39px;
    font-weight: 900;
    
}
.impact2 h2{
font-size: 25px;
font-weight: 400;
margin-bottom: 7px;
}
.font{
    text-align: center;
}
.impact3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
    height: 28vh;
    width: 100%;
}
.impact2{
    margin-top: 50px;
}

.impact3 span{
    border-radius:100% ;
    background-color:white;
    height: 25vh;
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.impact3 img{
    height: 70px;
}
.impact3 h1{
    font-size: 20px;
    font-weight: 900;

}
.impact3 p{
    font-size: 18px;
    font-weight: 400;
}

.container4{
    height: 100vh;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.heading4{
    height: 9vh;
    width: 50%;
    text-align: center;
    /* border: 2px solid pink; */
}
.heading4 h1{
    font-size: 40px;
    height: 8vh;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 2px solid yellow; */
}
.button{
    /* border: 2px solid red; */
    height: 15vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b3{
    height: 53%;
    width: 30%;
    border-radius: 40px 0px 0px 0px;
    border: none;
    background-color: #F9C935;

    font-size: 19px;
    font-weight: 900;
}
.b4{
    height: 53%;
    width: 30%;
    border-radius: 0px 0px 40px 0px;
    border: 3px solid #DDDCE1;
    background-color: white;
    font-size: 19px;
    font-weight: 900;
}
.container4-images{
    display: flex;
    /* border: 2px solid black; */
    height: 50vh;
    width: 80%;
    justify-content: center;
 

}
.zero img{
    height: 48%;
    width: 58%;
    
}
.zero{
    height: 48vh;
    /* border: 2px solid black; */
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
    

}
.zero h1{
    font-size: 25px;
    /* text-align: center; */
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    
}
.zero p{
    font-size: 18px;
    height: 10vh;
    font-weight: 400;
    color: rgb(82, 80, 80);
    text-align: left;
    margin-top: 10px;
    /* border: 2px solid yellow; */
}

.container5{
    height: 130vh;
    /* border: 2px solid black; */
    width: 100%;
    

}
.container5-round{
    height: 100vh;
    width: 80%;
    /* border: 2px solid purple; */
    background-color:#F6F5FA;
    /* margin-top: 20px; */
    border-radius: 0px 300px 0px 0px ;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-evenly;
z-index: -1;
   
}
.grey-image{
    height: 200px;
    width: 15%;
    /* background-color: aqua; */
  
}
.grey-image img{
    height: 200px;
    width: 220px;
    position: relative;
    left: 20%;
    top: 30%;
    z-index: 1;
    /* border: 2px solid black; */
}
.pink-image{
    /* transform: translatex(510%)translateY(-70%); */
    position: relative;
    bottom: 270px;
    
    z-index: -1;
    /* border: 2px solid yellowgreen; */
    
}
.pink-image img{
    height: 43vh;
    width: 20%;
    right: 100px;
        z-index: -1;
        position: absolute;
        
        /* border: 2px solid rgba(231, 71, 22, 0.733); */
        
}
.container5-box{
    /* border: 2px solid yellow; */
    display: flex;
align-items: center;
    justify-content: space-between;
    height: 50vh;
    width: 100%;
    transform: translateX(13%);
   
}
.sriram{
    height: 45vh;
    /* border: 2px solid maroon; */
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    border-radius: 50px 50px 0px 50px;
    background-color: #FFFFFF;
    
}
.sriram p{
    /* border: 2px solid green; */
    height: 30vh;
    width: 75%;
    font-size: 18px;
color: #000000;
}
.sriram img{
    height: 100px;
    width: 100px;
    border-radius: 30px 30px 2px 30px;
    border-top: 12px solid #F9C935;
    border-left: 12px solid #F9C935;
    margin-bottom: 150px;
    margin-left:25px;
}

.praneet{
    width: 55%;
        height: 45vh;
        /* border: 2px solid maroon; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px 50px 0px 50px;
        background-color: #FFFFFF;
    
}
.praneet p{
    /* border: 2px solid green; */
    height: 30vh;
    width: 77%;
    font-size: 18px;
color: #000000;

}
.praneet img{
    height: 100px;
    width: 100px;
    border-radius: 30px 30px 2px 30px;
    border-top: 12px solid #F9C935;
    border-left: 12px solid #F9C935;
    margin-bottom: 150px;
    margin-left:8px;
}
.side-arrow button{height: 55px;
    width: 55px;
    transform: translateX(-130%);
    border-radius: 30px;
    font-size: 32px;
    border: none;
    color: grey;
background-color: white;
}
.headings5{
    height: 9vh;
    width: 60%;
    text-align: center;
    /* border: 2px solid pink; */
}
.headings5 h1{
    font-size: 40px;
    height: 8vh;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 2px solid yellow; */
}
.button5{
    /* border: 2px solid red; */
    height: 15vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b5{
    height: 53%;
    width: 35%;
    border-radius: 40px 0px 0px 0px;
    border: none;
    background-color: #F9C935;
    font-size: 19px;
    font-weight: 900;
}
.b6{
    height: 53%;
    width: 35%;
    border-radius: 0px 0px 40px 0px;
   
    border: 3px solid #DDDCE1;
    background-color: white;
    font-size: 19px;
    font-weight: 900;
}

/* container6 */


.container6{
    /* background-color: aqua;*/
    height: 130vh;
    width: 100%;
    display: flex;
    /* border: 2px solid black; */
   overflow: hidden;
}

.image-section6{ background-color: #FCF7DE;
    height: 65%;
    width: 60%;
border-radius: 280px;
transform:rotate(200deg) translatex(-10%)translateY(-10%);
display: flex;
align-items: center;
/* border: 2px solid palevioletred; */
}

.text-part6{height: 90vh;
width: 50%;
/* border: 1px solid black; */
transform: translateX(10%);
/* background-color: antiquewhite; */
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
text-align: left;
}
.text-part6 h1{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: bolder;
}

.text-part6 p{
    font-size: 25px;
    color: gray;
    font-weight: 200;
    margin-bottom: 40px;
    font-weight:500 ;
}

.rapido6-1{
    height: 120%;
    /* background-color: palevioletred; */
    transform: rotate(160deg)translateX(-130%)translateY(100px);
    width: 35%;
    display: flex;
    flex-direction: column;
   
}
.rapidbusi1{
    height: 43%;
    width: 80%;
    border-radius: 100px 100px 0px 100px;
    transform: translatex(-14%) ;

}

.b7{
    height: 25%;
    background-color: #F9C935;
    width: 20%;
    
border-radius: 100px 0px 100px 100px ;
border: none;
margin-left: 140px;
margin-top: 10px;
}

.rapido6-2{
    height:80%;
    /* background-color: palegreen; */
    transform: rotate(-200deg)translateX(55%)translateY(220px);
    width: 40%;
    display: flex;
    flex-direction: column;

}
.b8{
    height: 11%;
    background-color: white;
    width: 45%;
border-radius: 35px 35px 35px 0px ;
border: none;

transform: translatey(-150%)translateX(20%);
}
.rapidbusi2{
    height:80%;
    width:85%;
    border-radius: 0px 100px 100px 100px;
    /* transform: translateX(15%)translateY(15%); */
    

}

/* footer */

footer{
    height: 40vh;
    background-color: #000000;

    /* border: 2px solid black; */
}
.footer1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}
.one{
    /* border: 2px solid palevioletred; */
    height: 30vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.one img{
    height: 100%;
    width: 110%;
    position: relative;
    right: 13px;
   

    
}
.one li:first-child{font-size: 20px;
    font-weight: 900;

}

.two{
    /* border: 2px solid palevioletred; */
    height: 30vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* transform: translateY(-20%); */
}
.two li:first-child{font-size: 20px;
    font-weight: 900;
  margin-bottom: 100px;

}
.two img{
    height: 100%;
    width: 110%;
    position: relative;
    right: 13px;
    bottom: 77px;

    
}
.three{
    /* border: 2px solid palevioletred; */
    height: 30vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
 
    
}
.three li{
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    width: 50%;
}
.media{
    /* border: 2px solid palevioletred; */
    height: 30vh;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}
.media h1{
    font-size: 20px;
    color: white;
    transform: translateY(-240%)translateX(20%);
}
.media-link{
    display: flex;
    
}
.media-link li{
    margin-left: 20px;
    list-style: none;
    transform: translateX(-100%)translateY(-190%);
}
.media-link a{
    text-decoration: none;
    font-size: 30px;
    
    
}
footer ul li ,a{text-decoration: none;
    list-style: none;
    color: white;

}
.footer2{
    height: 10vh;
    /* border: 2px solid mediumorchid; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: gray;
    font-weight: bold;
    border-top: 1px solid grey;
    background-color: #000000;
}
@media only screen and (max-width:768px) {
    .nav-link{display: none;
    }
    
    .logo{
        margin-right: 140px;
        height: 65px;
    }
    .down-btn{
        background: none;
        color: black;
        margin-left: 40px;
        font-size: 19px;

        
    }
      
    .container{
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
    }
    
    .text-sec{
        margin-top: 50px;
        
        height: 100vh;
        width: 90%;
  
    }

    .text-sec h1{
        font-size: 35px;
        margin: 0px;
        text-align: center;
        
       
    }
    .text-sec p{font-size: 20px;
    background-position: center;
text-align: left;
padding: 5px;
}
    .const-first{
        display: flex;

    }
    .btn-primary{
        margin-right:5px ;
    }
    .btn-secondary{margin-left: 5px;}
.image-sec{
    height: 80%;
    width: 100%;
    background-position: center;
    background-size:contain ;
    background-repeat:no-repeat ;
    background-color: #F9C935;
    background-image: url(./images/bike.webp);
}
.round-image{
    display:none;
}
.container2{
    display: flex;
    flex-direction: column-reverse;
align-items: center;
justify-content: center;
/* border: #000000 2px solid; */
height: 120vh;
width: 100%;
   
    
}

.text-part2{height: 50vh;

    width: 90%;
    transform: translateX(2%)translateY(10%);
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
 justify-content: center;
 
    
    
    }

    .text-part2 h1{
        font-size: 28px;
        margin-top: 25px;
        margin-bottom: 18px;
        /* border-bottom: 4px solid #F9C935; */
       
    }
.text-part2 p{
    font-size: 18px;
}
.text-part2 button{
    height: 52px;
    padding: 5px;
    width: 220px;
    border: none;
    background-color: #F9C935;
    font-weight: 900;
    border-radius: 25px 30px 25px 5px;
    font-size: 20px;
margin-bottom: 30px;
  
}
.image-section2{ background:none;
    
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 2px solid black; */
    border-radius: 0;
    transform: rotate(180deg)translateY(-15%);
    

}
.rapido1{
    height: 100%;
    /* background-color: palevioletred; */
   transform: rotate(-180deg)translateX(-80%);
    width: 50%;
    display: flex;
    flex-direction: column;
   
}
.rapido2{
    height:90%;
    /* background-color: palegreen; */
    transform: rotate(-180deg)translateX(92%)translateY(20px);
    width: 40%;
    display: flex;
    flex-direction: column;

}
.y_p{
    display: none;
}
.who2{
    height:70%;
    width:100%;
    border-radius: 0px 100px 100px 100px;
    transform: translateX(-8%)translateY(20%);
    

}
.b2{
    height: 90px; 
    background-color: #F9C935;
    width: 30%;
/* border-radius: 35px 35px 35px 0px ; */
border: none;
margin: 0px;
transform: translatey(-5%)translateX(-5%);
}
.who1{
    height: 50%;
    width: 65%;
    border-radius: 100px 100px 0px 100px;
    transform: translateY(10%) ;

}

.b1{
    height:90px;
    background-color: #F9C935;
    width: 24%;

border-radius: 100px 0px 100px 100px ;
border: none;
margin: 0px;
margin-left: 90px;
margin-top: 40px;

}
.container3{
    height: 120vh;
    /* width: 100%; */
}
.image-section3{
    height: 90vh;
    width: 100%;
    /* border: 2px solid black; */
    background-color: #FBF7DD;
    border-radius: 0px;
    transform: rotate(0deg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transform: translateY(15%);
}
.our-impact{
    /* border: 2px solid palevioletred; */
    transform: rotate(0deg);
    height: 90vh;
    width: 90%;
    
    display: flex;
    background-color: #FBF7DD;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    margin: 0;
    
}
.impact1 h1{
    font-size: 33px;
    
}
.impact2 h2{font-size:20px ;
    text-align: center;
   

}

.impact3{
display: flex;
flex-wrap: wrap;
transform: translateY(-23%);

}
.impact3 h1{
    font-size: 17px;
}
.impact3 p{
    font-size: 16px;
   
}

.impact3 span{
    border-radius:100% ;
    background-color:white;
    height: 20vh;
    width: 32%;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.impact3 img{
    height: 50px;
    width: 40%;
    /* border: 2px solid black; */
}
 .container4{
    height: 180vh;
} 
.heading4{
    height: 9vh;
    width: 70%;
    text-align: center;
    /* border: 2px solid pink; */
    /* transform: translateY(-150%); */
}
.heading4 h1{
    font-size: 35px;
    height: 8vh;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 2px solid yellow; */
}
.button{
    /* border: 2px solid red; */
    height: 15vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-19%);
}
.b3{
    height: 53%;
    width: 40%;
    border-radius: 40px 0px 0px 0px;
    border: none;
    background-color: #F9C935;
    font-size: 19px;
    font-weight: 900;
}
.b4{
    height: 53%;
    width: 40%;
    border-radius: 0px 0px 40px 0px;

    border: 3px solid #DDDCE1;
    background-color: white;
    font-size: 19px;
    font-weight: 900;
} 
.container4-images{
    height: 130vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateY(-10%); */
    /* border: 2px solid pink; */
}
.zero{
    height: 45vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.zero img{
    height: 45%;
    width: 50%;
    
    
}

.zero h1{
    font-size: 23px;
    /* text-align: center; */
    display: flex;
    align-items: baseline;
    margin-top: 20px;
    
}
.zero p{
    font-size: 18px;
    height: 15vh;
    font-weight: 400;
    color: rgb(82, 80, 80);
    text-align: center;
    margin-top: 10px;
    /* border: 2px solid yellow; */
}
.container5{
    height: 100vh;
    /* border: 2px solid black; */
    width: 100%;
    

}
.grey-image{
    display: none;
}
.pink-image{
    display: none;
}
.container5-round{
    height: 100vh;
    width: 80%;
    /* border: 2px solid purple; */
    background-color:#F6F5FA;
    /* margin-top: 20px; */
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: space-evenly;
z-index: -1;
   
}
.headings5{
    height: 9vh;
    width: 100%;
    text-align: center;
    /* border: 2px solid pink; */
   transform: translateX(12%);
}
.headings5 h1{
    font-size: 32px;
    height: 8vh;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: 2px solid yellow; */
   

 
}
.button5{
    /* border: 2px solid red; */
    height: 15vh;
    width: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(12%);
}
.b5{
    height: 57%;
    width: 50%;
    border-radius: 40px 0px 0px 0px;
    border: none;
    background-color: #F9C935;
    font-size: 19px;
    font-weight: 900;
}
.b6{
    height: 56%;
    width: 50%;
    border-radius: 0px 0px 40px 0px;

    border: 3px solid #DDDCE1;
    background-color: white;
    font-size: 19px;
    /* border: 2px solid black; */
    font-weight: 900;
}
.sriram{
    height: 60vh;
    /* border: 2px solid maroon; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 25px;
    border-radius: 50px 50px 0px 50px;
    background-color: #FFFFFF;
    
}
.sriram p{
    /* border: 2px solid green; */
    height: 20vh;
    width: 90%;
    font-size: 15px;
    font-weight:500 ;
color: #000000;
transform: translateY(-100%);
}
.sriram img{
    height: 100px;
    width: 100px;
    border-radius: 30px 30px 2px 30px;
    border-top: 12px solid #F9C935;
    border-left: 12px solid #F9C935;
    margin-bottom: 0px;
    margin-left:0px;
    transform: translatey(10%);
}

.praneet{
    width: 100%;
        height: 60vh;
        /* border: 2px solid maroon; */
        display: flex;
        flex-direction: column;
      align-items: center;
      justify-content: space-between;
       
        border-radius: 50px 50px 0px 50px;
        background-color: #FFFFFF;
    
}
.praneet p{
    /* border: 2px solid green; */
    height: 20vh;
    width: 90%;
    font-size: 15px;
color: #000000;
font-weight:500 ;
transform: translatey(-100%);

}

.praneet img{
    height: 100px;
    width: 100px;
    border-radius: 30px 30px 2px 30px;
    border-top: 12px solid #F9C935;
    border-left: 12px solid #F9C935;
    margin-top: 0px;
    margin-left:0px ;
    transform: translatey(10%);
    
}
.side-arrow button{height: 55px;
    width: 55px;
    transform: translateX(40%);
    border-radius: 30px;
    font-size: 32px;
    border: none;
    color: grey;
    background-color:white;

}
.container5-box{
    /* border: 2px solid yellow; */
    display: flex;
align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 100%;
    transform: translateX(5);
   
}


.container6{
    /* background-color: aqua;*/
    height: 150vh;
    width: 100%;
  display: flex;
  flex-direction: column;
    /* border: 2px solid black; */
    /* transform: translateY(-15%); */
   
}

.image-section6{ background-color: #FCF7DE;
    height: 70vh;
    width: 100%;
border-radius: 0;
transform:none;
display: flex;
align-items: center;
/* border: 2px solid palevioletred; */
}

.text-part6{height: 50vh;
width: 100%;
/* border: 1px solid black; */
transform: translate(0%);
/* background-color: antiquewhite; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
padding: 0px;
margin: 0px;
margin-top: 100px;
}
.text-part6 h1{
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 30px;
    font-weight: bolder;
}

.text-part6 p{
    font-size: 17px;
    color: gray;
    font-weight: 200;
    margin-bottom: 40px;
    font-weight:500 ;
}

.rapido6-1{
    height: 120%;
    /* background-color: palevioletred; */
    transform: none;
    width: 35%;
    display: flex;
    flex-direction: column;
    transform: translateX(20%)translateY(20%);
   
}
.rapidbusi1{
    height: 45%;
    width: 95%;
    border-radius: 100px 100px 0px 100px;
    margin-left: 40px;
   

}

.b7{
    height: 16%;
    background-color: #F9C935;
    width: 33%;
    
border-radius: 100px 0px 100px 100px ;
border: none;
margin-left: 140px;
transform: translateY(40%);
}

.rapido6-2{
    height:80%;
    /* background-color: palegreen; */
    transform: none;
    width: 40%;
    display: flex;
    flex-direction: column;
    transform: translateX(40%)translateY(40%);

}
.b8{
    height: 15%;
    background-color:#F9C935;
    width: 40%;
border-radius: 35px 35px 35px 0px ;
border: none;

transform: translatey(-90%)translateX(10%);
}
.rapidbusi2{
    height:70%;
    width:85%;
    border-radius: 0px 100px 100px 100px;
  
    /* transform: translateX(15%)translateY(15%); */
    

}
footer{
    /* border: 2px solid yellow; */
    height: 90vh;
    width: 100%;
}
.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid pink; */
    height: 90vh;
    width: 100%;
    padding-top: 10px;
}

.media{
        /* border: 2px solid palevioletred; */
        height: 10vh;
        width: 80%;
}
.media h1{
    font-size: 19px;
    color: white;
    transform: translateY(0%)translateX(20%);
}
.media-link li{
    margin-left: 10px;
    list-style: none;
    transform: translateX(0%)translateY(0%);
}
.one{
    /* border: 2px solid palevioletred; */
    height: 50vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.one img{
    height: 110%;
    width: 110%;
    position: relative;
    right: 13px;
   

    
}
.one li:first-child{font-size: 20px;
    
 font-weight: 900;

}
.two{
    /* border: 2px solid palevioletred; */
    height: 25vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* transform: translateY(-20%); */
}
.two li:first-child{font-size: 20px;
    font-weight: 900;
  margin-bottom: 0px;

}
.two img{
    height: 110%;
    width: 110%;
    position: relative;
    right: 13px;
    bottom: 0px;

    
}
.three{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    /* border: 2px solid palevioletred; */
    height: 15vh;
    width: 80%;
    margin-top: 10px;
    /* margin-left: 20px; */
}
.three li{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 50%;
}
.media{
    /* border: 2px solid palevioletred; */
    height: 20vh;
    width: 80%;
}
.media h1{
font-size: 20px;
color: white;
transform: translateY(0%)translateX(20%);
}
.media-link li{
margin-left: 19px;
list-style: none;
position: relative;
right: 150px;

}
.media-link a{
    text-decoration: none;
    font-size: 25px;
    

}
.footer2{
    height: 10vh;
    /* border: 2px solid mediumorchid; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: gray;
    font-weight: bold;
    border-top: 2px solid grey;
    background-color: #000000;
}
}